.chatPage{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  
    .wrapper{
      flex:1;
      overflow: scroll;
      width: 100%;
      display: flex;
      justify-content: center;
  
      .chat{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
  
        p,li{
          margin: 10px 0px;
        }
  
        .message{
          padding: 20px;
  
          &.user{
            background-color: #1e1d22;
            border-radius: 20px;
            max-width: 80%;
            align-self: flex-end;
          }
        }
      }
    }
  }