.endChat {
    padding-bottom: 100px;
    text-align: center;
    color: #919191;
}

.newForm {
    width: 60%;
    position: absolute;
    bottom: 0;
    background-color: #1d1c20;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 20px;



    input {
        flex: 1;
        padding: 20px;
        border: none;
        outline: none;
        background-color: transparent;
        color: #ececec;
    }

    button,
    label {
        border-radius: 50%;
        background-color: #605e68;
        border: none;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
            width: 16px;
            height: 16px;
        }
    }
}



.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;

    &:before {
        content: '';

        background: linear-gradient(to right, transparent, #818078, transparent);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
    }

    &:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: black;

        padding: 0 .5em;
        line-height: 1.5em;

        color: #c9c9c9;
        background-color: #171718;
    }
}