.homepage {
    display: flex;
    align-items: center;
    gap: 100px;
    height: 100vh;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;

    h1 {
        font-size: 110px;
        background: linear-gradient(to right, #217bfe, #e55571);
        font-weight: bold;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        @media screen and (max-width: 1280px) {
            font-size: 64px;
        }
    }

    h2 {
        font-weight: bold;
        font-size: 20px;
    }

    h3 {
        font-weight: 400;
        max-width: 70%;
        font-size: 19px;

        @media screen and (max-width: 1024px) {
            max-width: 100%;
        }
    }

    a {
        padding: 15px 25px;
        background-color: #e55571;
        color: white;
        border-radius: 20px;
        font-size: 18px;
        margin-top: 20px;


    }

    a:hover {
        background-color: white;
        color: #ee3030;
    }
}

.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #130e1f;
    border-radius: 50px;
    width: 80%;
    height: 50%;
    position: relative;
}

.bgContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
}

.orbital {
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
    opacity: 0.05;
    animation: 100s linear infinite rotateOrbital;
}

.bg {
    background-image: url("/bg.png");
    opacity: 0.2;
    width: 200%;
    height: 100%;
    background-size: auto 100%;
    animation: 10s ease-in-out infinite alternate slideBg;
}

.bot {
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: 3s ease-in-out infinite alternate botAnimate;
}

@keyframes botAnimate {
    0% {
        transform: scale(1) rotate(0deg);
    }

    100% {
        transform: scale(1.2) rotate(-5deg);
    }
}

@keyframes slideBg {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes rotateOrbital {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(60deg);
    }

}